/*------------ROOT------------*/
*,
*::before,
*::after {
    box-sizing: border-box;

}
/*------------ROOT_END------------*/

/*------------BODY------------*/
html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.wrapper {
    padding: 30px 20px 0px 20px;
}

header {
    text-align: center;
    padding: 0px 20px 20px 20px;
    color: darkblue;
}
/*------------BODY_END------------*/

/*------------BOX_LAYOUT------------*/
.box {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: black;
    color: gray;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.box-body {
    min-height: 100px;
}

.box-footer {
    text-align: center;
}

.box-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.box-footer::after {
    content: " ";
    display: block;
    clear: both;
}
/*------------BOX_LAYOUT_END------------*/

/*------------BUTTON_STYLE------------*/

.btn {
    border: none;
    background-color: red;
    border-radius: 30px;
    box-shadow: black;
    color: white;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
    background: white;
}
/*------------BUTTON_STYLE_END------------*/

/*------------PASSWORD_STYLE------------*/

.float-right {
    float: right;
}

#password {
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding: 15px 15px 15px 85px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0 10px 0;
    border: 2px dashed gray;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}
/*------------PASSWORD_STYLE_END------------*/
